<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <style>
        body{
            background-image: url('{% static "/image/background2.jpg" %}');
        }
    </style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Attendance</title>
    <h2 style="text-align: center;">Please Select Employee to view their Attendance Info:</h2>
    {% include 'partials/_message.html' %}
    <a href="{% url 'employee-index' %}" class="btn btn-primary">BACK</a> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static '/css/bootstrap.min.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <form action="{% url 'attendance-profile' %}"  method="post">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="form-group mb-2">
                <label>Select Employee</label>
                <select name="employee" class="form-control">
                    {% for val in data %}
                    <option value="{{ val.id }}">{{ val.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="ENTER">
    </form>
</body>
</html>