

<!DOCTYPE html>
<html>
    <head>      
        {% load static %}
        <style>
            body{
                background-image:url('{% static "/image/background2.jpg" %}')
            }
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        
        <h3 style="text-align: center;">Welcome to Employee Profile Page.</h3>
        <a href="{% url 'attendance-index' %}" class="btn btn-primary">BACK</a>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    </head>
    <body>
        <br>
        <div class="container mt-5">
            <table class="table table-dark table-striped" style="text-align: center;">  
                <thead>
                <tr>
                    <th>S.No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Checked In</th>
                  <th scope="col">Checket Out</th>
                  <th scope="col">Worked Hours</th>
                  <th scope="col">Status</th>
                  <th colspan="2">Action</th>
                 
                </tr>
                </thead>
                <tbody>
                {% for val in data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ val.employee }}</td>
                  <td>{{ val.date }}</td>
                  <td>{{ val.time_in }}</td>
                  <td>{{ val.time_out }}</td>
                  <td>{{ val.hours_worked }}</td>
                  <td>{{ val.status }}</td>
                  <td><a href="{% url 'attendance-edit' val.id %}">Edit</a></td>
                  <td><a href="{% url 'attendance-pdf' val.employee %}">PDF</a></td>
                </tr>
                {% endfor %}
                </tbody>  
        </div> 
    </body>
</html>
